* {
  box-sizing: border-box;
}

.cell {
  background: lightgray;
  margin-top: 8px;
  padding: 24px;
}

.cell > *:first-child {
  margin-top: 0;
}

.flexible-textarea {
  position: relative;

  --font-family: sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
  --paddingTopBottom: 0.5em;
}

.flexible-textarea__dummy {
  visibility: hidden;
  padding: var(--paddingTopBottom) 0.5em;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: var(--font-family);
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.flexible-textarea__textarea {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border: none;
  padding: var(--paddingTopBottom) 0.5em;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: var(--font-family);
  width: 100%;
  height: 100%;
  resize: none;
}
