form {
  padding: 16px;
  background: ghostwhite;
}
ol {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
li {
  margin: 8px;
}
.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 4px;
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}
.hex {
  margin-top: 8px;
  font-size: smaller;
  cursor: pointer;
}
.hex:hover {
  background: hsla(0, 0%, 0%, 0.1);
}
.hsl {
  margin-top: 8px;
  font-size: smaller;
  cursor: pointer;
}
.hsl:hover {
  background: hsla(0, 0%, 0%, 0.1);
}
textarea {
  height: 120px;
  width: 360px;
}
.notification {
  box-sizing: border-box;
  position: fixed;
  bottom: 16px;
  left: 50%;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  padding: 16px;
  background: black;
  color: white;
  white-space: nowrap;
  transform: translateX(-50%);
  opacity: 0;
}
.notification_open {
  opacity: 1;
  transition: opacity 125ms linear;
}
.notification_error {
  background: red;
}
