.card {
  display: grid;

  .card__link {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: 1 / 3;
    grid-column: 1;
  }

  .card__tags {
    grid-row: 2 / 3;
    grid-column: 1;
    pointer-events: none;

    a {
      pointer-events: auto;
    }
  }
}

.card {
  background: lavender;
  padding: 1rem;

  .card__link {
    background: plum;
    padding: 1rem;
  }

  .card__link:hover {
    color: tomato;
  }

  .card__tags {
    background: orange;
    padding: 1rem;

    a:hover {
      color: tomato;
    }
  }
}
