* {
  box-sizing: border-box;
}

.area {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 48px;
  padding: 48px 32px;
}

.area--background {
  background: #eee;
  background-image: linear-gradient(45deg, #ccc 25%, transparent 0),
    linear-gradient(45deg, transparent 75%, #ccc 0),
    linear-gradient(45deg, #ccc 25%, transparent 0),
    linear-gradient(45deg, transparent 75%, #ccc 0);
  background-size: 24px 24px;
  background-position: 0 0, 12px 12px, 12px 12px, 24px 24px;
}

.square {
  --width: 180px;
  --height: 180px;

  width: var(--width);
  height: var(--height);
  position: relative;
  isolation: isolate;
}

.square--B {
  --overflow-length: 16px;
}

.square__image-wrapper {
  display: grid;
  place-items: center;
  width: var(--width);
  height: var(--height);
  overflow: hidden;
}

.square--B .square__image-wrapper {
  width: calc(var(--width) - var(--overflow-length) * 2);
  height: calc(var(--height) - var(--overflow-length) * 2);
  transform: translateX(var(--overflow-length))
    translateY(var(--overflow-length));
}

.square__image-wrapper > img {
  width: var(--width);
  height: var(--height);
  object-fit: cover;
}

.square--B .square__image-wrapper > img {
  transform: translateX(calc(-1 * var(--overflow-length)))
    translateY(calc(-1 * var(--overflow-length)));
}

.ellipse {
  --border-radius: 50%;
  --width: 240px;
  --height: 150px;

  width: var(--width);
  height: var(--height);
  position: relative;
  isolation: isolate;
}

.ellipse--B {
  --overflow-length: 16px;
}

.ellipse__image-wrapper {
  display: grid;
  place-items: center;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.ellipse--B .ellipse__image-wrapper {
  width: calc(var(--width) - var(--overflow-length) * 2);
  height: calc(var(--height) - var(--overflow-length) * 2);
  transform: translateX(var(--overflow-length))
    translateY(var(--overflow-length));
}

.ellipse__image-wrapper > img {
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  object-fit: cover;
}

.ellipse--B .ellipse__image-wrapper > img {
  transform: translateX(calc(-1 * var(--overflow-length)))
    translateY(calc(-1 * var(--overflow-length)));
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--width);
  height: var(--height);
  z-index: -1;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.shadow--A {
  filter: blur(24px);
  transform: translateY(24px);
}

.shadow--B {
  filter: blur(16px);
}

.shadow > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ellipse > .shadow {
  border-radius: var(--border-radius);
}

.ellipse > .shadow > img {
  border-radius: var(--border-radius);
}
