.area {
  margin: 0.5em;
  padding: 0.5em;
  background: gray;
}

.wrapper {
  margin: 1em;
  border: 1em solid teal;
  padding: 1em;
  background: seagreen;
  color: black;
}

.wrapper:hover {
  background: palegreen;
  text-decoration: underline dotted;
}

.wrapper::after {
  content: "wrapper after";
}

.inner {
  margin: 1em;
  border: 1em solid royalblue;
  padding: 1em;
  background: steelblue;
  color: black;
}

.inner:hover {
  background: skyblue;
  text-decoration: underline wavy;
}

.inner::after {
  content: "inner after";
}

.contents {
  display: contents;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3em 5em 2em;
  column-gap: 1em;
  grid-auto-flow: column;
}

.grid > article {
  display: contents;
}

.grid__header {
  background: crimson;
}

.grid__body {
  background: rosybrown;
}

.grid__footer {
  background: maroon;
}
