.input-sections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
}

.input-area {
  display: grid;
  grid-template-columns: 100%;
  gap: 4px;
}

.color-field {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
}

.color-field__text {
  width: 100%;
  max-width: 196px;
  padding: 2px 4px;
  font-size: 16px;
  line-height: 1.5;
  font-family: monospace;
  font-weight: 400;
}

.import-export-input {
  width: 100%;
  max-width: 196px;
  padding: 2px 4px;
  font-size: 16px;
  line-height: 1.5;
  font-family: monospace;
  font-weight: 400;
}

.result {
  display: grid;
  grid-template-columns: 100%;
  gap: 4px;
}

.result__row {
  display: grid;
  grid-template-columns: repeat(auto-fill, 96px);
  gap: 4px;
}

.result__cell {
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  border-radius: 4px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
}
