html {
  font-size: 16px;
}

.container {
  margin-bottom: 8px;
  display: flex;
  align-items: flex-start;
}

.area {
  margin: 16px;
  width: 380px;
}

.box {
  padding: 8px;
}

.box-fz1rem {
  font-size: 1rem;
  background: lightgray;
}

.box-fz2rem {
  font-size: 2rem;
  background: lightsteelblue;
}

.content {
}

.content-pd1rem {
  padding-bottom: 1rem;
  background: lightseagreen;
}

.content-pd1em {
  padding-bottom: 1em;
  background: lightcoral;
}
