.resizable {
  margin-top: 1em;
  border: 1px solid lightgray;
  overflow: auto;
  resize: horizontal;
}

.grid {
  display: grid;
  background: lightcyan;
}

.blue {
  min-height: 50px;
  border: 1px solid royalblue;
  color: royalblue;
}
